html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #222234;
    font-family: 'Open Sans';
    color: #c8c8cb;
}

body > div {
    position: absolute;
    overflow: hidden;
}

::selection{
    background: black;
}

/*preloader*/
.preloader{
    background-color: rgba(0,0,0,0.6);
    color: #c8c8cb;
    /*text-align: center;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.loading,
.loading::before,
.loading::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 999px;
    border-radius: 999px;
}

.loading {
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
    content: "";
    margin: -23px 0 0 -23px;
    height: 44px;
    width: 44px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
    content: "";
    margin: -29px 0 0 -29px;
    height: 56px;
    width: 56px;
    -webkit-animation: animation-rotate 2000ms linear infinite;
    animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes animation-rotate {
    100% {
        transform: rotate(360deg);
    }
}

/*preloader text*/
.preloader .preloader-text{
    height: 180px;
    position: relative;
    top: 50%;
    margin-top: -90px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
}
.preloader .preloader-text .preloader-text-line{
    display: none;
}
.preloader .preloader-text .preloader-text-title{
    font-size: 24px;
    line-height: 1.6em;
    margin-bottom: 10px;
}
.preloader .preloader-text .remember{
    font-family: Droid Serif;
}
.preloader .preloader-text p{
    font-size: 18px;
    line-height: 1.6em;
}
.preloader-text .preloader-text-line-1{
    animation-delay: 0;
}
.preloader-text .preloader-text-line-2{
    animation-delay: 0.8s;
}
.preloader-text .preloader-text-line-3{
    animation-delay: 1.6s;
}
.preloader-text .btn-start{
    animation-delay: 1.6s;
}
.btn-start{
    border: 1px solid #c8c8cb;
    padding: 12px;
    text-align: center;
    margin-top: 60px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    display: none;
}
.btn-start:hover{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #c8c8cb;
    color: #333;
}

/*panel*/
.panel{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 10px;
    top: 20px;
    width: 30%;
    color: #c8c8cb;
    display: none;
}
.panel .close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    display: block;
}
.panel .close line{
    stroke: #c8c8cb;
}
.panel .close:hover{
    animation-name: rotate;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}
.panel .panel-main{
    margin: 30px 25px 30px 25px;
    overflow: auto;
    height: 560px;
}
.panel .panel-title{
    font-weight: bold;
    margin-bottom: 12px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.panel .panel-content{

}
.panel .panel-content p{
    margin-bottom: 10px;
    line-height: 1.6em;
}
.panel .panel-content p strong{
    color: #fff;
    font-family: Droid Serif;
    border-bottom: 1px dashed #fff;
}

/*map*/
.map{
    display: none;
}
.graticule {
    fill: none;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill : #373c57;
}

.boundary {
    fill: none;
    stroke: #222234;
    stroke-width: .5px;
}

/*city location*/
.target{
    fill: #ffeb00;
    fill-opacity: 0.5;
}
.glow{
    fill: hsl(204, 70%, 23%);

    -webkit-animation-name: glow-blue;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation-name: glow-blue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@-webkit-keyframes glow-blue {
    0% { fill: hsl(204, 80%, 23%); }
    100% { fill: hsl(204, 80%, 63%); }
}

@keyframes glow-blue {
    0% { fill: hsl(204, 80%, 23%); }
    100% { fill: hsl(204, 80%, 63%); }
}

/*tooltip*/
div.tooltip {
    color: #c8c8cb;
    position: absolute;
    text-align: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
    font-size: 12px;
    background: rgba(0,0,0,0.8);
    border: 0;
    font-weight: bold;
    /*instruct the mouse event to go “through” the element and target whatever is “underneath” that element instead*/
    pointer-events: none;
}

/*copyright*/
.copyright{
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 200px;
}
.copyright a{
    font-weight: bold;
}
.copyright p{
    line-height: 1.5em;
}
.copyright strong{
    font-weight: bold;
}


